/* Цвет заголовков #212121 */
/* цвет основного текста #757575 */
/* белый цвет #FFFFFF */
/* синий цвет #2196F3; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --dark-background: #2f303a;
  --secondary-background: #f5f4fa;
}

ul,
li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid rgb(197, 36, 8); */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700px;
  line-height: 30, 52px;
}

.logo-studio {
  color: var(--title-text-color);
}
.site-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
.nav-list {
  display: flex;
  justify-content: center;
  margin-left: 93px;
}
.nav-list .nav-item + .nav-item {
  /* margin-right: 50px; */
}
.nav-item,
.nav-list,
.header-address .link-address:not(:last-child) {
  margin-right: 50px;
}

.link-nav:hover,
.link-nav:focus,
.link-nav:active,
.link-nav.active,
.link-address:hover,
.link-address:focus,
.link-address:active,
.link-address-footer:active,
.link-address-footer:hover,
.link-address-footer:focus {
  color: var(--accent-color);
}
.header-address {
  display: flex;
  margin-left: auto;
}
.link-address {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  text-align: center;
  align-items: center;
}
.email-icon,
.smartphone-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  cursor: pointer;
}
.link-address .email-icon:hover,
.link-address .smartphone-icon:hover,
.link-address .email-icon:focus,
.link-address .smartphone-icon:focus {
  fill: var(--accent-color);
}

/* HERO */
.hero {
  /* background-color: var(--dark-background); */
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4));
  background-image: url(../images/team-work.jpg);
  background-size: 1600px auto;
  background-repeat: no-repeat;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 660px;
  margin: 0 auto;
}
.hero-button {
  font-family: inherit;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  color: #fff;
  background: #2196f3;
  border: none;
}

.button {
  font-family: inherit;
  /* background-color: var(--accent-color); */
  background: color #188ce8;
  /* color: var(--white-color); */
  color: var(--title-text-color);
  cursor: pointer;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
}

.features-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  width: 270px;
}
.feature-icon {
  display: block;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--secondary-background);
}
.feature-icon:not(:last-child) {
  margin-right: 30px;
}

/* Activity */
.activity-section {
  margin-top: -94px;
}
.activity {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.activity-modif {
  /* padding-top: -94px; */
}
.activity-list {
  display: flex;
  justify-content: center;
  margin-right: 215px;
  margin-left: 215px;
}
.activity-list-item {
  padding-top: 50px;
  padding-left: 30px;
}
/* Team section */

.team-section {
  background-color: var(--secondary-background);
  color: var(--title-text-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: center;
}
.team-list .team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-member-info {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: var(--white-color); */
}
.team-links-item:hover,
.team-links-item .link-icon:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
  fill: var(--white-color);
}

.team-member {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.team-position {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-links {
  display: flex;
  text-align: center;
  margin: 30px 44px 42px auto;
}
.team-links-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.team-links-item:not(:last-child) {
  margin-right: 3px;
}
.team-links-item .link-icon {
  fill: #afb1b8;
  cursor: pointer;
}
/* clients section */

.clients-headline {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
}
.clients-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.clients-item {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.company-icon {
  padding: 16px 32px;
  fill: #afb1b8;
  cursor: pointer;
}
.company-icon:hover {
  fill: var(--accent-color);
}
.clients-list .clients-item:hover {
  border: 1px solid var(--accent-color);
}
/* footer */
.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
  /* display: flex; */
}
.all-footer {
  display: flex;
}
.address {
  color: var(--white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 9px;
}
.link-address-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
  display: flex;
}
.logo-footer {
  color: var(--white-color);
  margin-bottom: 20px;
}
.left-side-footer {
  margin-right: 70px;
}
.right-side-footer {
  min-width: 206px;
  margin-top: 12px;
}

.social-subscribe {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-social-links {
  display: flex;
  padding-left: 0;
}

.footer-social-links-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.footer-social-links-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-links-item:hover,
.footer-social-links-item:focus {
  background-color: var(--accent-color);
}
.link-icon {
  fill: var(--white-color);
}

/* Portfolio page */

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.portfolio-button {
  font-family: inherit;
  background-color: var(--secondary-background);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6x;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  flex-basis: calc(100% / 5- 8px);
  margin-right: 8px;
  border: none;
}
.button:hover,
.button:active,
.button:focus,
.portfolio-button:hover,
.portfolio-button:active,
.portfolio-button:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
.link-nav {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
/* Filter */

.filter {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px -30px -30px;
  padding: 0;
}
.filter > .filter-section-item {
  flex-basis: ((100% / 3 - 30px));
  margin: 0px 30px 30px 0px;
}

.filter-section-item > img {
  display: block;
}

.filter-section-item {
  border: 1px solid #eeeeee;
}
img {
  display: block;
  max-width: 100%;
}
.filter-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
}

.filter-type {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
}
